/* Terraform IAM Account */
aws_access_key = "ACCESS_KEY"
aws_secret_key = "SECRET_KEY"

key_name = "picker-devops"

aws_region="us-east-2"

ip_class_b="20"

worker_size = "t2.micro"


public_route53_zone_id=""

master_vpc_id=""

master_public_subnet_id=""
master_private_subnet_id=""

app_public_subnet_id=""
app_private_subnet_id=""